@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 20px auto;
}

.box {
  /* background: #aaa; */
  height: 160px;
  width: 160px;
}

.arrow-box {
  display: flex;
  height: 160px;
  justify-content: center;
  align-items: center;
}

.tag-plus {
  background: #fff !important;
  border-style: dashed !important;
  cursor: pointer;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}

.tag {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}

.ant-table-row {
  height: 100px;
}

.ant-table-container tr,
.ant-table-container td {
  border: 1px solid #f0f0f0;
}

.empty-row {
  background: #fafafa;
}

.border-0,
.border-0 td {
  border: none !important;
}
