@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 20px auto;
}

.box {
  background: #aaa;
  height: 160px;
  width: 160px;
}
